<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plango_NickName">
        <activity
            android:name=".SelectDay"
            android:exported="false" />
        <activity
            android:name=".MainPage"
            android:exported="false" />
        <activity
            android:name=".OverseasTrip"
            android:exported="false" />
        <activity
            android:name=".DomesticTrip"
            android:exported="false" />
        <activity
            android:name=".CreateTrip"
            android:exported="false" />
        <activity
            android:name=".PageLoading"
            android:exported="false" />
        <activity
            android:name=".PastTrip"
            android:exported="false" />
        <activity
            android:name=".UpcomingTrip"
            android:exported="false" />
        <activity
            android:name=".MyPage"
            android:exported="false" />
        <activity
            android:name=".MBTI"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>